/* 
    Dark-Mode CSS
*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: #323232;
    }

    p, h1, h2, h3, h4, h5, h6  {
        color: #FFFFFF;
    }
    
    .content-page {
        background-color: #525252;
    }
}
