/* Based on the old phpEasyStep HTML code.
   Converted into CSS by me. 
   Custom CSS may be added as well.
   https://web.archive.org/web/20200216231829/http://www.phpeasystep.com/phptu/12.html */

/* Font. */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* // <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name */

table {
    width: 90%;
    border: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 30;
    border: 2px solid #858585; /*35393b*/ 
    border-collapse: collapse;

}

tr, td, th, thead, tbody {
    border: 2px solid #858585; /*35393b*/ 
}

.top-bar {
    text-align: center;
    background-color: #343434;
    font-weight: bold;
    color: #c3c3c3;
}

.top-bar a {
    color: #3d84ff;
    text-decoration: underline;
}

.sub-content-page a {
    color: #c5c5ff;
    text-decoration: underline;
}

a {
    color: #7A7AFF;
    text-decoration: underline;
}

.quote {
    font-style: italic;
    font-size: 12px;
    background-color: #c3c3c3;
    color: #000000;
    padding: 10px;
    border-radius: 3px;
}

code {
  background-color: #a0a0a0;
  padding: 3px 5px 3px 5px;
}

.content-main-size-max {
    max-width: 1500px !important;
}

.content-page {
    background-color: #3c3c3c;
    color: #c3c3c3;
    vertical-align: top;
    text-align: left;
    line-height: 1.4;
}

.sub-content-page {
    background-color: #585858;
    color: #efefff;
    vertical-align: top;
    text-align: left;
    line-height: 1.4;
}

.content-na {
    background-color: #363636;
}

.correct-spacing {
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    text-align: right;
    background-color: #343434;
    color: #c3c3c3;
}

.footer a {
    color: #3d84ff;
}

body {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #292929;

    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}


/* Alert Colors */
.news {
    background-color: #bcffff;
    color: #3c3c3c;
}
.news a {
    color: #3c3c3c;
}
.info {
    background-color: #90CAF9;
    color: #3c3c3c;
}
.alert {
    background-color: #EF9A9A;
    color: #3c3c3c;
}
.warning {
    background-color: #FFF59D;
    color: #3c3c3c;
}

/* Mastodon Feed */
.toots {
    max-width: 500px !important;
    width: 500px !important;
}


/* Mobile */

@media (max-width: 767px) {
    .hidden-mobile {
      display: none;
    }
}

p {
    line-height: 1.4;
}

/*
    End style.css
*/

