---
layout: layout/page.html
title: "Notes"
pagination:
  data: collections.post
  size: 15
  alias: posts
  reverse: true
  generatePageOnEmptyData: true
permalink: "notes/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
<p>I write things!</p>

<table style="max-width: 1000px !important;">
  <thead>
      <tr>
        <th class="top-bar">Note Title</th>
        <th class="top-bar">Note Date</th>
        <th class="top-bar" width="30%">Description</th>
      </tr>
  </thead>
  <tbody>

      {%- for post in posts -%}
      <tr>
          <td class="sub-content-page"><a href="{{ post.url }}">{{ post.data.title }}</a></td>
          <td class="sub-content-page">{{ post.data.date  | readablePostDate }}{% if post.data.lastmod %}<br><strong>Updated</strong>: {{ post.data.lastmod | readablePostDate}}{% endif %}</td>
          {% if post.data.description %}
          <td class="sub-content-page">{{ post.data.description }}</td>
          {% else %}
          <td class="content-na"></td>
          {% endif %}
      </tr>
      {%- endfor -%}

  </tbody>
</table>

<table  style="max-width: 1000px !important;">
    <thead>
        <tr class="footer">

            <!-- Update Pagination,
                 If Prev/Next page don't exist,
                 don't include <a> element -->

            <!-- Make sure width is 33% to make them even -->
            {% if pagination.href.previous %}
                <td class="top-bar" width="33%">
                    <a href="{{ pagination.href.previous }}">Previous Page</a>
                </td>
            {% else %}
                <td class="top-bar" width="33%">
                    Previous Page
                </td>
            {% endif %}

            <!-- Always Include -->
            <td class="top-bar" width="33%">
                <a href="/notes/">First Page</a>
            </td>

            {% if pagination.href.next %}
                <td class="top-bar" width="33%">
                    <a href="{{ pagination.href.next }}">Next Page</a>
                </td>
            {% else %}
                <td class="top-bar" width="33%">
                    Next Page
                </td>
            {% endif %}
        </tr>
    </thead>
</table>

<table style="max-width: 700px !important; margin-top: 15px; margin-bottom: 15px;">
    <thead>
        <tr>
            <th class="top-bar">RSS Feed</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="content-page">
                <a href="/notes/feed.xml"><button style="width: 100%;">Click to access RSS Feed</button></a>
            </td>
        </tr>
    </tbody>
</table>
