---
layout: layout/page.html
title: "Software"
permalink: "software/index.html"

pagination:
  data: collections.software
  size: 9999
  alias: software
---

<p>
    I make programs!
</p>

<h3>Software</h3>

{% include "partial/support-legend.html" %}

<br>

<table style="max-width: 800px !important;">

    <thead>
        <tr>
            <th class="top-bar">Software Name</th>
            <th class="top-bar">Software Page</th>
            <th class="top-bar">Description</th>
            <th class="top-bar">Supported?</th>
        </tr>
    </thead>
    <tbody>


        {%- for software in software -%}
        <tr>
            <td class="sub-content-page">{{ software.data.title }}</td>
            <td class="sub-content-page"><a href="{{ software.url }}">{{ software.url }}</a></td>
            {% if software.data.description %}
            <td class="sub-content-page">{{ software.data.description }}</td>
            {% else %}
            <td class="content-na"></td>
            {% endif %}
            {% if software.data.supported == "full" %}
            <td class="sub-content-page">{% include "sc/support/yes.html" %}</td>
            {% elsif software.data.supported == "man" %}
            <td class="sub-content-page">{% include "sc/support/man.html" %}</td>
            {% elsif software.data.supported == "vul" %}
            <td class="sub-content-page">{% include "sc/support/vul.html" %}</td>
            {% else %}
            <td class="sub-content-page">{% include "sc/support/no.html" %}</td>
            {% endif %}
        </tr>
        {%- endfor -%}

    </tbody>
</table>
