
    <tr>
        <td colspan="6" class="footer">&copy; 2017
            <script>
                new Date().getFullYear()>2017&&document.write("-"+new Date().getFullYear());
            </script>
            , TheCrafters001. | <a href='/privacy.html'>Privacy</a>
        </td>
    </tr>
    <tr>
        <td colspan="6" class="footer">
            Background image from <a href="https://www.transparenttextures.com/">Transparent Textures</a>
        </td>
    </tr>
    </table>

    <!-- goatcounter -->
    <script data-goatcounter="https://stats.thecrafters001.com/count" async src="//gc.zgo.at/count.js"></script>

</body>

</html>