<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metadata -->
    <meta charset="UTF-8" />
    <title>{% if title %}{{title}} - {% endif %}TheCrafters001</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="{% if description %}{{ description }}{% endif %}" />
    <meta name="robots" content="noindex, nofollow">

    <!-- stylesheet -->
    <link href="/asset/css/bundle.css" rel="stylesheet">

    <!-- Mastodon Feed CSS -->
    <link rel="stylesheet" type="text/css" href="https://esm.sh/emfed@1/toots.css">

    <!-- rel-me -->
    <link rel="me" href="https://github.com/TheCrafters001">
    <link rel="me" href="https://meow.social/@TheCrafters001">
    <link rel="me" href="https://donphan.social/@TheCrafters001">
    <link rel="me" href="https://transfur.social/@TheCrafters001">
    <link rel="me" href="https://toyhou.se/TheCrafters001">
    <link rel="me" href="https://thecrafters001.itch.io/">
    <link rel="me" href="https://gamejolt.com/@TheCrafters001">
    <link rel="me" href="https://youtube.com/@TheCrafters001">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="manifest" href="/ico/site.webmanifest">
</head>


<body>
