<table style="max-width: 800px !important;">
    <thead>
        <th></th>
        <th class="top-bar">Supported</th>
        <th class="top-bar">Supported<br>Maintenance only</th>
        <th class="top-bar">Supported<br>Vulnerabilities only</th>
        <th class="top-bar">Unsupported</th>
    </thead>
    <tbody>
        <tr>
            <td class="content-page">Legend:</td>
            <td class="content-page"><span style="color: green;">&check;</span> </td>
            <td class="content-page">&ast;</td>
            <td class="content-page">&#128960;</td>
            <td class="content-page"><span style="color: red;">X</span></td>
        </tr>
    </tbody>
</table>
