<table style="max-width: 800px !important;">
    <thead>
        <th></th>
        <th class="top-bar">Supported</th>
        <th class="top-bar">Supported<br>Maintenance only</th>
        <th class="top-bar">Supported<br>Vulnerabilities only</th>
        <th class="top-bar">Unsupported</th>
    </thead>
    <tbody>
        <tr>
            <td class="content-page">Legend:</td>
            <td class="content-page">{% include "sc/support/yes.html" %}</td>
            <td class="content-page">{% include "sc/support/man.html" %}</td>
            <td class="content-page">{% include "sc/support/vul.html" %}</td>
            <td class="content-page">{% include "sc/support/no.html" %}</td>
        </tr>
    </tbody>
</table>
