---
layout: layout/page.html
title: "Characters"

pagination:
  data: collections.character
  size: 25
  alias: character
  reverse: true
  generatePageOnEmptyData: true

permalink: "characters/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
<h2>Characters</h2>

<p><span style="color: #FF0000;">NOTE</span>: Not all the character information may be up to date, as well as not all characters may be here. Please refer to ToyHou.se for all the up-to-date information, as well as to see more art for each character!</p>

<table style="max-width: 800px !important;">

    <thead>
        <th class="top-bar">Character Name</th>
        <th class="top-bar">Character Page</th>
        <th class="top-bar">Avatar</th>
    </thead>
    <tbody>

        {%- for character in character -%}
        <tr>
            <td class="content-page">{{ character.data.title }}</td>
            <td class="content-page"><a href="{{ character.url }}">{{ character.url }}</a></td>
            {% if character.data.avatar %}
            <td class="content-page" style="width: 150px;" ><img src="{{ character.data.avatar }}" class="avatar-box" alt="{{ character.title }}'s Avatar" >{% if character.data.avatar-artist-name %}Avatar By <a href="{{ character.data.avatar-artist-link }}">{{ character.data.avatar-artist-name }}</a>{% endif %}</td>
            {% else %}
            <td class="content-na"></td>
            {% endif %}
        </tr>
        {%- endfor -%}

    </tbody>
</table>

<br>

<table>
    <thead>
      <tr>{%- for pageEntry in pagination.pages %}<td class="top-bar"><a href="{{ pagination.hrefs[ forloop.index0 ] }}"{% if page.url == pagination.hrefs[ forloop.index0 ] %} aria-current="page"{% endif %}>Page {{ forloop.index }}</a></td>{%- endfor %}</tr>
    </thead>
</table>