<h3>Additional Pages</h3>
<table style="max-width: 700px !important;">
    <thead>
        <th class="top-bar">Page Name</th>
        <th class="top-bar">Page Link</th>
        <th class="top-bar">Description</th>
    </thead>
    <tbody>

        <!-- 88x31 Buttons -->
        <tr>
            <td class="content-page">88x31 Buttons</td>
            <td class="content-page"><a href="/buttons.html">/buttons.html</a></td>
            <td class="content-page"></td>
        </tr>

        <!-- Social -->
        <tr>
            <td class="content-page">Social</td>
            <td class="content-page"><a href="/social.html">/social.html</a></td>
            <td class="content-page">Links to my social pages.</td>
        </tr>
    </tbody>
</table>