<h3>Main Pages</h3>
<table style="max-width: 700px !important;">
    <thead>
        <tr>
            <th class="top-bar">Page Name</th>
            <th class="top-bar">Page Link</th>
            <th class="top-bar">Description</th>
        </tr>
    </thead>
    <tbody>

        <!-- Home -->
        <tr>
            <td class="sub-content-page">Home</td>
            <td class="sub-content-page"><a href="/index.html">/index.html</a></td>
            <td class="sub-content-page"></td>
        </tr>

        <!-- Software -->
        <tr>
            <td class="sub-content-page">Software</td>
            <td class="sub-content-page"><a href="/software/index.html">/software/index.html</a></td>
            <td class="sub-content-page">I make programs!</td>
        </tr>

        <!-- Games -->
        <tr>
            <td class="sub-content-page">Games</td>
            <td class="sub-content-page"><a href="/games/index.html">/games/index.html</a></td>
            <td class="sub-content-page">I make "games"!</td>
        </tr>

        <!-- Blog -->
        <tr>
            <td class="sub-content-page">Blog</td>
            <td class="sub-content-page"><a href="/blog/">/blog/</a></td>
            <td class="sub-content-page">I write things!</td>
        </tr>

        <!-- PC Specs -->
        <tr>
            <td class="sub-content-page">PC Specs</td>
            <td class="sub-content-page"><a href="/pc-specs.html">/pc-specs.html</a></td>
            <td class="sub-content-page">I do gaming!</td>
        </tr>

        <!-- All Pages -->
        <tr>
            <td class="sub-content-page">All Pages</td>
            <td class="sub-content-page"><a href="/pages.html">/pages.html</a></td>
            <td class="sub-content-page">You are here.</td>
        </tr>
    </tbody>
</table>