<h3>Additional Pages</h3>
<table style="max-width: 700px !important;">
    <thead>
        <tr>
            <th class="top-bar">Page Name</th>
            <th class="top-bar">Page Link</th>
            <th class="top-bar">Description</th>
        </tr>
    </thead>
    <tbody>


        <!-- Hosted Services -->
        <tr>
            <td class="sub-content-page">Hosted Services</td>
            <td class="sub-content-page"><a href="/hosted.html">/hosted.html</a></td>
            <td class="sub-content-page"></td>
        </tr>

        <!-- 88x31 Buttons -->
        <tr>
            <td class="sub-content-page">88x31 Buttons</td>
            <td class="sub-content-page"><a href="/buttons.html">/buttons.html</a></td>
            <td class="sub-content-page"></td>
        </tr>

        <!-- Characters -->
        <tr>
            <td class="sub-content-page">Characters</td>
            <td class="sub-content-page"><a href="https://toyhou.se/TheCrafters001/characters">https://toyhou.se/TheCrafters001/characters</a></td>
            <td class="sub-content-page">My Characters!</td>
        </tr>

        <!-- Social -->
        <tr>
            <td class="sub-content-page">Social</td>
            <td class="sub-content-page"><a href="https://social.thecrafters001.com/">https://social.thecrafters001.com/</a></td>
            <td class="sub-content-page">Social Links</td>
        </tr>
    </tbody>
</table>