<table style="max-width: 800px !important;">

    <thead>
        <tr>
            <th class="top-bar">Game Name</th>
            <th class="top-bar">Game Page</th>
            <th class="top-bar">Description</th>
            <th class="top-bar">Supported?</th>
        </tr>
    </thead>
    <tbody>

        <!-- PDG -->
        <tr>
            <td class="sub-content-page">Pok&eacute;mon Delta Green</td>
            <td class="sub-content-na"></td>
            <td class="sub-content-page">I am gonna start re-working the game again eventually... As for now, the page link will be broken.</td>
            <td class="sub-content-na"></td>
        </tr>

    </tbody>
</table>