<table style="max-width: 800px !important;">

    <thead>
        <tr>
            <th class="top-bar">Game Name</th>
            <th class="top-bar">Game Page</th>
            <th class="top-bar">Description</th>
            <th class="top-bar">Supported?</th>
        </tr>
    </thead>
    <tbody>

        <!-- ??? -->
        <tr>
            <td class="sub-content-page">???</td>
            <td class="sub-content-na"></td>
            <td class="sub-content-page">Coming Soon</td>
            <td class="sub-content-na"></td>
        </tr>

        <!-- Keep Control Remastered -->
        <tr>
            <td class="sub-content-page">Keep Control Remastered</td>
            <td class="sub-content-page"><a href="/games/keep-control/remastered/">/games/keep-control/remastered/</a></td>
            <td class="sub-content-page">You some how glitch your way into someones game. You find yourself going through a puzzle, but then it all falls apart from there...</td>
            <td class="sub-content-page">{% include "sc/support/no.html" %}</td>
        </tr>

        <!-- Keep Control -->
        <tr>
            <td class="sub-content-page">Keep Control</td>
            <td class="sub-content-page"><a href="/games/keep-control/">/games/keep-control/</a></td>
            <td class="sub-content-page">You some how glitch your way into someones game. You find yourself going through a puzzle, but then it all falls apart from there...</td>
            <td class="sub-content-page">{% include "sc/support/no.html" %}</td>
        </tr>

    </tbody>
</table>